// colors
:root {
  --color-bg: #ffffff;
  --color-bg-offset: #f7f7f9;
  --color-text: #373a3c;
  --color-text-offset: #818a91;
  --color-border: #eceeef;
  --color-primary: #ff335f;
  --color-primary-offset: #ff1447;
  --color-secondary: #43a9a3;
}

@mixin max_dark-theme {
  --color-bg: #1d1f21;
  --color-bg-offset: #252526;
  --color-text: #ffffff;
  --color-text-offset: #818a91;
  --color-border: #2d2d2d;
  --color-primary: #ff5277;
  --color-primary-offset: #ff2957;
  --color-secondary: #43a9a3;
}

@mixin nadia-theme {
  --color-bg: #153956;
  --color-bg-offset: #252526;
  --color-text: #fffffe;
  --color-text-offset: #b8c1ec;
  --color-border: #2d2d2d;
  --color-primary: #f07b61;
  --color-primary-offset: #ff2957;
  --color-secondary: #43a9a3;
}

@mixin dark-theme {
  --color-bg: #1d1d1d;
  --color-bg-offset: #292929;
  --color-text: #fafafa;
  --color-text-offset: #b8c1ec;
  --color-border: #2d2d2d;
  --color-primary: #ee432c;
  --color-primary-offset: #cc3723;
  --color-secondary: #872cee;
}

html[data-theme='dark'] {
  :root {
    @include dark-theme();
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark-theme();
  }
}
